@model Locadora.Web.MVC.Models.LocacaoModel

@{
    ViewBag.Title = "Index";
}

@Html.Partial("~/Views/Shared/Locacao/_InformacoesJogo.cshtml", Model)

@using (Html.BeginForm("Locar", "Locacao", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @*@Html.AntiForgeryToken()*@
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.IdJogo)

    <label for="nome">Pesquisa por nome: </label>
    @Html.TextBoxFor(m => m.NomeCliente, new { @type = "text", @class = "fomr-control", @id = "nome", @name = "nome", @value = "" })

    <input type="submit" id="btnPesquisar" value="Locar" />
}

@section Scripts {
    <script>
        $("document").ready(function() {
            $("#nome").autocomplete({
              source: '@Url.Action("ClientesAutoComplete", "Cliente")'
            });
        });
    </script>
}